:root {
    color-scheme: dark light;
    --footer-height: 65px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: var(--footer-height);
}

body > footer {
    padding: 20px 0;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: var(--footer-height);
}

#brain {
    display: inline-block;
    padding: 0 10px;
}

.openai-prompt {
    resize: none;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: height 0.2s ease-in-out;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar::-moz-scrollbar {
    display: none;
}

.hide-scrollbar::-ms-scrollbar {
    display: none;
}

.hide-scrollbar::-o-scrollbar {
    display: none;
}

.hide-scrollbar::-khtml-scrollbar {
    display: none;
}

#openai {
    margin-bottom: 0; display: flex; flex-direction: column; height: calc(100vh - 40px);
}

.openai-header {
    position: sticky; top: 0;
}

#main-chat {
    flex: 1; overflow-y: scroll;
}

#main-chat .initial-message {
    display: none;
}

#main-chat article {
    margin: 4px;
    padding: 4px;
    border: 1px solid #666;
}

#main-chat div.user {
    text-align: right;
}

#main-chat div.user article {
    display: inline-block;
    text-align: right;
    color: #555;
    border: none;
    background: none;
}

#main-chat div.assistant article {
    --background-color: var(--form-element-background-color);
    --border-color: var(--form-element-border-color);
    --color: var(--form-element-color);
    --box-shadow: none;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    display: inline-block;
}

.openai-footer {
    position: sticky; bottom: 0; display: flex; justify-content: center;
}

.openai-footer-container {
    display: flex; width: 100%; max-width: 1130px
}

.openai-footer-container button  {
    width: 66px;
}