:root {
    color-scheme: dark light;
    --footer-height: 65px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: var(--footer-height);
}

body > footer {
    padding: 20px 0;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: var(--footer-height);
}

#brain {
    display: inline-block;
    padding: 0 10px;
}