:root {
    color-scheme: light dark;
    --footer-height: 65px;
}

@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: var(--footer-height);
}

body > footer {
    padding: 20px 0;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: var(--footer-height);
}

#brain {
    display: inline-block;
    padding: 0 10px;
}